# Nix build result
/result

/cmd/debug

soyweb/testdata/johndoe.com/*
!soyweb/testdata/johndoe.com/src
soyweb/testdata/johndoe.com/src/style.css
soyweb/testdata/johndoe.com/src/some-txt.txt
soyweb/testdata/johndoe.com/src/drop
soyweb/testdata/johndoe.com/src/assets

soyweb/testdata/myblog/*
!soyweb/testdata/myblog/src
